<html>
  <body
    style="background-color: #333333; color: white; font-family: Arial, Arial"
  >
    <div style="max-width: 600px; margin: auto; padding: 20px">
      <h1>Welcome to Dreams through Knowledge!</h1>
      <p>Hey there!</p>

      <p>
        Congratulations on taking the first step in investing in yourself and
        joining our community! Your activation code is {{access_code}}.
      </p>
      <p>
        To activate your account, please click the link below and enter your
        activation code. We are here to help and answer any questions you may
        have and make sure you get the most out of your membership. Please
        contact us by opening a ticket in the Support channel anytime here by
        clicking the "Get Started" button and joining our server.
      </p>
      <p>- The Dream Team</p>
      <a
        href="https://yourlink.com"
        style="
          background-color: #3eb489;
          color: white;
          padding: 15px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          border-radius: 5px;
        "
        >Get Started</a
      >
    </div>
  </body>
</html>
